.ets-bar {
	background: #007ACC;
	color: white;
	box-shadow: 0px 5px 15px #007ACC;
}

.ets-bar:hover {
	background: #1C97EA;
	box-shadow: 0px 5px 15px #1C97EA;
}

.ets-bar .ets-link,.gcs-description a {
	color: white;
}

.ets-bar .ets-link:hover,.gcs-description a:hover {
	color: #3E3E42;
}

.header-container .logo-container {
	box-shadow: 5px 5px 15px #E8641B;
	/*border-color: #35353A;*/
	background: #FFFFFF;
	/*background: -moz-linear-gradient(top,  #293134 0%, #ffffff 43%, #ffffff 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#293134), color-stop(43%,#ffffff), color-stop(100%,#ffffff)); 
	background: -webkit-linear-gradient(top,  #293134 0%,#ffffff 43%,#ffffff 100%); 
	background: -o-linear-gradient(top,  #293134 0%,#ffffff 43%,#ffffff 100%); 
	background: -ms-linear-gradient(top,  #293134 0%,#ffffff 43%,#ffffff 100%); 
	background: linear-gradient(to bottom,  #293134 0%,#ffffff 43%,#ffffff 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#293134', endColorstr='#ffffff',GradientType=0 );*/
}

.header-container .logo-container .header1 {
	color: #3E3E42;
	text-shadow: 2px 2px 2px #35353A;
}

.main-content {
	background-color: #3E3E42;
}

.login-form-container {
	box-shadow: 5px 5px 15px #EF9C00;
	background-color: white;
	/*border-top-color: #EF9C00;/*#813DDE;*/
	/*border-right-color: #EF9C00;*/
	/*border-left-color: #EF9C00;
	border-top-color: #EF9C00;*/
}

.header-container .logo-container {
	/*border-bottom-color: #E8641B;/*#009F3C;*/
	/*border-right-color: #E8641B;*/
	
}

.login-form-container .login-form-header {
	background: #3E3E42 url(../../images/black_glass_back.png) no-repeat top left;
	background-size: 100% 100%;
	color: white;
}

.main-content .gcs-description {
	color: white;
}