/** Color definitions **/
body, .menu-container, .status-bar-container {
	background-color: #293134;
	/*border-color: #555;*/
}

body, .menu-container, .menu-container a,
.status-bar-container, .status-bar-container a {
	color: white;
}

.menu-container a:hover,
.status-bar-container a:hover {
	color: #678CB1;
}

.menu-item .menu-item-header {
	background: #293134 url(../../images/black_glass_back.png) no-repeat top left;
	background-size: 100% 100%;
	color: white;
}

.main-content {
	background-color: white;
	color: #293134;
}

.status-bar-container .form-button, 
.status-bar-container .form-submit {
	background: #81969A url(../../images/black_glass_back.png) no-repeat top left;
	background-size: 100% 100%;
}

.main-content .form-button, 
.main-content .form-submit {
	background: #293134 url(../../images/black_glass_back.png) no-repeat top left;
	background-size: 100% 100%;
	color: white;
}

.form-label {
	background: #293134 url(../../images/black_glass_back.png) no-repeat top left;
	background-size: 100% 100%;
	color: white;
}

.form-input {
	border-color: #293134;
}

.form-input:focus {
	border-color: #EC7600;
}